$vendors : "-moz-",
"-webkit",
"-o-",
"-ms-",
"";
// Font
$robotoFont : 'Roboto',
sans-serif;
$openSansFont : 'Open Sans',
sans-serif;

// Colors 
$startGradientColorHEX : #B049FF;
$startGradientColorRGB : rgb(176, 73, 255);
$endGradientColorHEX : #9B38FE;
$endGradientColorRGB : rgb(155, 56, 254);
$paragraphsColor : #777777;
$headingColor :#222222 ; 
$sectionBg : #F9FAFF ; 
$black : #000;
$white : #fff;

// Images Paths 
$logo : '../img/logo.png';
$heroBg : '../img/banner/home-banner.jpg';
$heroImg : '../img/banner/right-mobile.png';
$mainIcon :'../img/icon/f-icon-1.png';
$sectionImg1 : '../img/interior-1.png';
$sectionImg2 : '../img/interior-2.png';
$videoBg : '../img/video-1.png';
$videoIcon : '../img/icon/video-icon-1.png';
$feature1 : '../img/feature/feature-1.jpg';
$feature2 : '../img/feature/feature-2.jpg';
$feature3 : '../img/feature/feature-3.jpg';
$feature4 : '../img/feature/feature-4.jpg';
$testi1 : '../img/testimonials/testi-1.png';
$testi2 : '../img/testimonials/testi-2.png';
$testi3 : '../img/testimonials/testi-3.png';
$instgram1 : '../img/instagram/Image-01.jpg';
$instgram2 : '../img/instagram/Image-02.jpg';
$instgram3 : '../img/instagram/Image-03.jpg';
$instgram4 : '../img/instagram/Image-04.jpg';
$instgram5 : '../img/instagram/Image-05.jpg';
$instgram6 : '../img/instagram/Image-06.jpg';
$instgram7 : '../img/instagram/Image-07.jpg';
$instgram8 : '../img/instagram/Image-08.jpg';